Godeps/_workspace/src
*/Godeps/_workspace/src
.vagrant
*.DS_Store
*.cache
*.csv
*.csv.gz
*.lock
*.bak
notes.private
iron.json
iron.*.json
**/Dockerfile.ironio

# Project files
*.komodoproject
*.sublime-project
*.sublime-workspace
*.idea

# Sandbox
**/_tmp/
**/sandbox/

venv/
env/

**/*.egg-info/
**/__pycache__/
**/*.pyc
**/build/

.Trash-*/

**/config.json
**/task_payload.json

*/tune-multiverse-job-python-master/
**/*.zip
**/tmp/*

.idea/
*.swp
*~
